<!doctype html>
<html> <!-- html TAG open -->
    <body> <!-- body TAG open-->
        <form action = "/result" method = "POST"> <!-- form TAG open -->
            <p>Name <input type = "text" name = "Name" /></p> <!-- p & input TAG open/close -->
            <p>Student Number <input type = "int" name = "Student_Number" /></p> <!-- p & input TAG open/close -->
            <p>Gender</p> 
                <p><input type="radio" name="gender" value="Man">Man
                    <input type="radio" name="gender" value="Woman">Woman
                </p> <!-- p & input TAG open/close -->
            <p>Major <input type = "text" name = "Major" /></p> 
            <p>Programing_Language
                <input type="checkbox" name="python">Python</input>
            
                <input type="checkbox" name="java">Java</input>
            
                <input type="checkbox" name="C++">C++</input>
            </p>
            <p><input type = "submit" value = "submit" /></p> <!-- p & input TAG open/close -->
        </form> <!-- form TAG close-->
    </body> <!-- body TAG close -->
</html> <!-- html TAG close -->